@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

header svg {
  width: 20px;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: all 0.3s;

}

i {
  transition: none
}

svg {
  transition: none;
}

:root {
  --main: #fff;
  --decor: #E55472;
  --sub: #000;
  --sub2: #666;
  --sub3: #f0f0f0;
  --sub4: #0f0f0f;
}

@media (max-width: 1200px) {
  .searchField {
    display: none;
  }

  .cart {
    width: 485px;
  }

  .logo {
    width: 485px;
  }
}

@media (max-width: 992px) {
  .cart {
    width: 330px;
  }

  .logo {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .cart {
    width: 240px !important;
  }

  .logo {
    width: 240px !important;
  }
}

@media (max-width:600px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.open svg {
  cursor: pointer;
}

header .topHeader a:hover {
  color: var(--decor);
}

header .bottomHeader nav a {
  padding: 22px 10px;
  font-size: 14px;
}

header .bottomHeader nav a:hover {
  color: var(--decor);

}

.menu {
  background-color: var(--main);
  padding: 5px;
}

.sider svg {
  width: 20px;
  cursor: pointer;
}

.sider .sup svg {
  position: relative;
}

.sider::-webkit-scrollbar {
  width: 3px;
  border-radius: 30px;
}

.sider::-webkit-scrollbar-track {
  background-color: #f0f0f0;

}

.sider::-webkit-scrollbar-thumb {
  background-color: #666;
}

.cart2::-webkit-scrollbar {
  width: 3px;
  border-radius: 30px;
}

.cart2::-webkit-scrollbar-track {
  background-color: #f0f0f0;

}

.cart2::-webkit-scrollbar-thumb {
  background-color: #666;
}

.sider.show {
  left: 0;
}

.pagesNav::-webkit-scrollbar {
  width: 2px;
  border-radius: 30px;
}

.pagesNav::-webkit-scrollbar-track {
  background-color: #f0f0f0;

}

.pagesNav::-webkit-scrollbar-thumb {
  background-color: #666;
}

.cart2.show {
  right: 0;
}

.cartImg:last-child {
  border: none;
}

.cartButtons1 {
  background-image: linear-gradient(45deg, #E55472, #E55472);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 1px solid var(--decor);

}

.cartButtons1:hover {
  background-image: linear-gradient(45deg, #565656, #565656);
  background-size: 0 100%;
  border: 1px solid var(--sub2);

}

.cartButtons2 {
  background-image: linear-gradient(45deg, #565656, #565656);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: left;
  border: 1px solid var(--sub2);
}

.cartButtons2:hover {
  background-image: linear-gradient(45deg, #E55472, #E55472);
  background-size: 0 100%;
  border: 1px solid var(--decor);
}

.cartButtons3 {
  background-image: linear-gradient(45deg, #f7f7f7, #f7f7f7);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #f7f7f7;
}

.cartButtons3:hover {
  background-image: linear-gradient(45deg, #fff, #fff);
  background-size: 0 100%;
}

.FixedHeader {
  transition: all 0.6s;
}

footer ul a li::before {
  position: absolute;
  content: "//";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  opacity: 0;
  visibility: hidden;
  margin-left: -20px;
  color: var(--decor);
}

footer ul a li {
  padding-left: 20px;
}

footer h4 {
  padding-left: 20px;
}

footer ul a {
  position: relative;
}

footer ul a:hover li::before {
  opacity: 1;
  visibility: visible;
  margin-left: 0;
}