.ProductsShopContainer .productsCard:nth-child(2) .offer-bg {
    background-color: #9AC45C;
}

.ProductsShopContainer .productsCard:nth-child(4) .offer-bg {
    background-color: #9AC45C;
}

.ProductsShopContainer .productsCard:nth-child(6) .offer-bg {
    background-color: #9AC45C;
}

.ProductsShopContainer .productsCard:nth-child(8) .offer-bg {
    background-color: #9AC45C;
}
.ProductsShopContainer .productsCard .Timer {
    display: none;
  }
  .items-container .item:nth-child(3){
    background-color: #E55472;
    color: #fff;
  }
  